streamlit==1.21.0
Pillow==9.3.0
pytesseract==0.3.10
gTTS==2.3.1
transformers==4.32.1
google-cloud-vision==3.4.0
langchain==0.0.203
streamlit-webrtc==0.41.0
speechrecognition==3.10.0
PyAudio
